@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c0c0c;
    color: white;
}

.cabecalho img{
    width: 180px;
}

.cabecalho-left{
    display: flex;
    align-items: center;
}

.link{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.cabecalho-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho-right img{
    width: 60px;
    cursor: pointer;
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    background-image: url(../images/capa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #0c0c0c;
}


.filme-destaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 20px;
}

.bloco-1{
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 20px 0px 0px 20px;  
    letter-spacing: 3px;
    font-weight: 600;
}

.bloco-1 img{
    width: 40px;
}

.bloco-2{
    margin: 0px 0px 0px 20px;  
}

.bloco-2 img{
    width: 500px;
}

.botoes{
    display: flex;
    gap: 5px;
    margin: 10px 0px 0px 25px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 10em;
    height: 3em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1 img{
    width: 15px;
}

.btn1:hover{
    background-color: rgba(247, 247, 247, 0.9);
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 15em;
    height: 3em; 
    border: none;
    border-radius: 5px;
    background-color: rgb(128, 128, 128, 0.5);
    color: white;
}

.btn2 img{
    width: 40px;
}

.btn2:hover{
    background-color: rgba(49, 49, 49, 0.7);
}

.filmes-rolagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.filmes-description{
    color: white;
    margin-right: 65em;
    font-weight: 500;
}

.filmes-description2{
    color: white;
    margin-right: 63em;
    font-weight: 500;
}

.scroll-bar {
    height: 280px;
    overflow-x: scroll;
}

.catalogo{
    width: 100em;
    display: flex;
    flex-direction: row;
}

.filme{
    display: flex;
    width: 230px;
    height: 130px;
    margin: 3px;
}

.filme img{
    width: 100%;
    height: 100%;
}

.filme img:hover{
    border: 2px solid white;
}