@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* cabecalho */

.cabecalho{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C0C0C;
    color: white;
}

.cabecalho img{
    width: 180px;
}

.cabecalho-left{
    display: flex;
    align-items: center;
}

.link{
    padding: 10px;
    color: white;
    text-decoration: none;
}


.cabecalho-right{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}


.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

/* conteudo principal */

.filme-destaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    background-image: url(../images/st\ capa3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bloco-1{
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 20px;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 600;
}

.bloco-1 img{
    width: 40px;
}

.bloco-2{
    font-size: 50px;
    margin: 20px 0px 0px 20px;  
}

.bloco-2 img{
    width: 500px;
}

.botoes{
    margin: 20px;
}

.btn1 {
    width: 10em;
    height: 3em;
}

.btn2{
    width: 15em;
    height: 3em; 
    background-color: gray;
    color: white;
}


/* rolagem de filmes */

.filmes-rolagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: black;
}

.filmes-rolagem p{
    margin-left: 20px;
    color: white;
    position: fixed;
}

.scroll-bar {
    height: 400px;
    overflow-x: scroll;
}

.catalogo{
    width: 100em;
    height: 100em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.filme{
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 230px;
    height: 130px;
    margin: 5px;
    border: 1px solid black;
}
